.DS_Store/
.DS_Store
__pycache__/
.vscode
.venv

data/humtrans/*
data/humtrans_processed/*
data/musicnet/*
data/musicnet_processed/*
data/test/
data/musicnet_10_wav_samples/*
data/all_wavs/*
data/processed_rave/*

*.pt
*.onnx
*bak
*.ts
*.npy

plots
models
logs
output
samples/*