.DS_Store/
__pycache__/
.vscode
.venv

data/humtrans/*
data/humtrans_processed/*
data/musicnet/*
data/musicnet_processed/*
data/test/
data/musicnet_10_wav_samples/*

website/cyclegan_epoch_10.pt
website/classical_to_humming.onnx
website/humming_to_classical.onnx

*.bak

plots
models
logs